<h1>This is the home page :D</h1>
<p></p>
<p>Click <%= link_to "here", :controller => "contents", :action => "index" %> to see sample content</p>
<p>Click <%= link_to "here", :controller => "contents", :action => "new" %> to publish new content</p>